body {
   overflow-y: hidden; /* Hide vertical scrollbar */
   overflow-x: hidden; /* Hide horizontal scrollbar */
}

 body {
   margin: 0;
   background-color: gray;
 }
 canvas {
   display: block;
   background-color: white;
 }
  
#scoringtab{
    width: 200px;
    height: 150px;
    
    text-align: center;
    font-size: 24px;

    font-family: Soloist; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    background-color: #fcba03; 
    opacity: 1.0; 
    padding: 0px 0px 0px 0px; 
    overflow: auto; 
    border-radius: 5px 15px 30px 15px; 
    box-shadow: rgba(252, 186, 3, 0.4) 5px 5px, 
                rgba(252, 186, 3, 0.3) 10px 10px, 
                rgba(252, 186, 3, 0.2) 15px 15px, 
                rgba(252, 186, 3, 0.1) 20px 20px, 
                rgba(252, 186, 3, 0.05) 25px 25px;
}

#healthbar{
   width: 350px;
   height: 50px;
   position: absolute; 
   right: 40px; 
   top: 30px; 

}

#obj{
   width: 150px;
   height: 100px;
   
   text-align: center;
   font-size: 18px;

   font-family: Soloist; 
   position: absolute; 
   right: 0px; 
   top: 0px; 
   background-color: #fcba03; 
   opacity: 1.0; 
   padding: 0px 0px 10px 0px; 
   overflow: auto; 
   border-radius: 15px 5px 15px 30px; 
   box-shadow: rgba(252, 186, 3, 0.4) -5px 5px, 
               rgba(252, 186, 3, 0.3) -10px 10px, 
               rgba(252, 186, 3, 0.2) -15px 15px, 
               rgba(252, 186, 3, 0.1) -20px 20px, 
               rgba(252, 186, 3, 0.05) -25px 25px;
}

#popup{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(116,126,138,0.5);
    position: fixed;
    z-index: 6; 
 }

 #popupContent{
    width: 30%;
    height: 40%;
    min-width: 220px;
    min-height: 220px;
    position: relative;
    left: 35%;
    top: 30%;
    background-color: rgba(250,250,210,1);
    border: 2px solid;
    border-radius: 5px;
    box-shadow:0 3px 7px rgba(0,0,0,0.25);
 }
 
 #popupContent div{
    position:relative;
    bottom:-30px;
    padding: 3pt;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
 }

 a.closeButton{
    width: 32px;
    height: 32px;
    position: relative;
    display: block;
    left: 95%;
    top: -16px;
    background: url('./../assets/close_button.png') no-repeat;
    z-index: 7;
 }

 a.closeButton:hover{
    cursor:pointer;
    width: 32px;
    height: 32px;
    display: block;
    position: relative;
    left: 95%;
    top: -16px;
    background: url('./../assets/close_button_over.png') no-repeat;
    z-index: 7;
 }



#lightcontroller{
    font-family: Soloist;
    position: absolute; text-align: center;
    left:0px; 
    bottom: 0px; 
    background-color: #fcba03; 
    opacity: 1.0; 
    padding: 0px 20px 0px 0px; 
    overflow: auto; 
    padding: 20px; 
    border-radius: 15px 30px 15px 5px; 
    box-shadow: rgba(252, 186, 3, 0.4) 5px -5px, 
                rgba(252, 186, 3, 0.3) 10px -10px,
                rgba(252, 186, 3, 0.2) 15px -15px, 
                rgba(252, 186, 3, 0.1) 20px -20px, 
                rgba(252, 186, 3, 0.05) 25px -25px;
}

#LC51{
    font-family: Soloist;
    font-size: 15px;
    color: #000000;
}

#movecontroller{
    font-family: Soloist;
    text-align: center;
    position: absolute; 
    right: 0px; 
    bottom: 0px; 
    background-color: #fcba03; 
    opacity: 1.0; 
    padding: 0px 20px 0px 0px; 
    overflow:auto; 
    border-radius: 30px 15px 5px 15px; 
    box-shadow: rgba(252, 186, 3, 0.4) -5px -5px, 
                rgba(252, 186, 3, 0.3) -10px -10px, 
                rgba(252, 186, 3, 0.2) -15px -15px, 
                rgba(252, 186, 3, 0.1) -20px -20px, 
                rgba(252, 186, 3, 0.05) -25px -25px;
}